<a href="https://colab.research.google.com/github/450586509/Knowledge/blob/master/pandas%E7%AC%94%E8%AE%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## pandas的使用

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.rand(4,4), columns = list("abcd"))
#df = pd.DataFrame(np.random.rand(4,4))

In [5]:
df

          a         b         c         d
0  0.454777  0.874798  0.521118  0.559028
1  0.421147  0.389004  0.533966  0.254666
2  0.316520  0.512646  0.779182  0.778499
3  0.272434  0.505510  0.381090  0.642713

### dataframe安装某列排序

In [6]:
df_sort = df.sort_values(["a"])
df_sort

          a         b         c         d
3  0.272434  0.505510  0.381090  0.642713
2  0.316520  0.512646  0.779182  0.778499
1  0.421147  0.389004  0.533966  0.254666
0  0.454777  0.874798  0.521118  0.559028

In [7]:
df_sort.reset_index(drop=True)

          a         b         c         d
0  0.272434  0.505510  0.381090  0.642713
1  0.316520  0.512646  0.779182  0.778499
2  0.421147  0.389004  0.533966  0.254666
3  0.454777  0.874798  0.521118  0.559028

In [8]:
df_sort.shape

(4, 4)

In [9]:
df_sort.b

3    0.505510
2    0.512646
1    0.389004
0    0.874798
Name: b, dtype: float64

In [10]:
df_sort.columns.values.tolist()

['a', 'b', 'c', 'd']

In [11]:
df_sort.columns=["aa","bb","cc", "dd"]

In [15]:
df_sort.head(6)

         aa        bb        cc        dd
3  0.272434  0.505510  0.381090  0.642713
2  0.316520  0.512646  0.779182  0.778499
1  0.421147  0.389004  0.533966  0.254666
0  0.454777  0.874798  0.521118  0.559028